.ia-margin {
  margin-top: 0px;
}
.ia-box {
  border-bottom: 1px solid grey;
  padding: 10px;
}
@media screen and (min-width: 800px) {
  .ia-news-img {
    height: 230px;
    overflow: hidden;
  }
  .ia-news-ttl {
    height: 40px;
    overflow: hidden;
  }
  .ia-news-dtl {
    height: 100px;
    overflow: hidden;
  }
}

@media screen and (min-width: 992px) {
  .ia-news-img {
    height: 168px;
    overflow: hidden;
  }
  .ia-news-ttl {
    height: 40px;
    overflow: hidden;
  }
  .ia-news-dtl {
    height: 130px;
    overflow: hidden;
  }
}

@media screen and (min-width: 1200px) {
  .ia-news-img {
    height: 168px;
    overflow: hidden;
  }
  .ia-news-ttl {
    height: 40px;
    overflow: hidden;
  }
  .ia-news-dtl {
    height: 130px;
    overflow: hidden;
  }
}
